#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 0 2rem 1rem 2rem;
}

select {
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:hover {
  border-color: #646cff;
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.5);
}

.weather-container{
  margin-top: 1rem;
  background-color: #0000002d;
  border: 1px solid #453f3f;
  border-radius: 8px;
  padding: 2rem 1rem;
}

.weather-cards {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


